{{#each errors as |error|}}
Error : {{error.msg}}<br>
{{/each}}
<h2>Login</h2>
<form action ="/login" class="form" method="POST">
    <label for="email">
        Email:
        <input type="email" name="email" id="email" value={{user.email}}>
    </label>
    <label for="pswd">
        Password: 
        <input type="password" name="pswd" id="pswd" value={{user.pswd}}>
    </label><br>
    <input type="submit" value="Valider">
</form>