<div class="single">
    <a href="/magasins/{{magasin._id}}/edit"><button>Edit</button></a>
   <div class="single__hero">
       <h2 class="title title--single">{{magasin.name}}</h2>
       <img class="single__image" src="/uploads/{{magasin.photo}}" width="200" alt="">
   </div>
   <div class="single__details inner">
       <p class="single__location">{{magasin.desc}}</p>
   </div>
</div>